language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

install:
  - pip install -qq flake8
  - pip install codecov
  - python setup.py install

script:
  - coverage run setup.py pytest
  - flake8 --version
  - flake8 iexfinance

after_success:
  - codecov --token='f4d1c94d-2af2-49c9-aebd-4e009c8a6266'